body {
    background-color: #001514;
    /*background-image: url("pattern2.png");*/
    background-image: linear-gradient(-45deg, #001514, #001514 60%, #002220 60%, #002220);
    background-size: 10px 10px;
    background-repeat: repeat;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
}

h1{
    color: #5EEB5E;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

h2{
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

#logoHead{
    height: 3em;
    width: auto;
    vertical-align: top;
    float: right;
}

hr{
    color: white;

}

nav{
    color: white;
    font-size: medium;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-right: 10px;
}

ul, ol{
    padding: 0;
}

a{
    color: #5EEB5E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

a:hover{
    color: #61FF7E;
}

a:visited{
    color: #5EEB5E;
}

a:visited:hover{
    color: #61FF7E;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: white;
    hyphens: auto;
    word-break: break-word;
}

.card{
    border: 0.125em;
    border-style:solid;
    border-color: white;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}

embed{
    width: 80vw;
    height: 80vh;
    max-width: 80vh;
    max-height: 80vw;
}

footer p {
    font-size: small;
    color: gray;

}

@media (orientation: landscape){
    ruffle-embed{
        width: 80vh;
        height: 80vh;
    }

    h2{
        margin-top: 2vh;
    }
}

@media (orientation: portrait){
    ruffle-embed{
        width: 80vw;
        height: 80vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    
    /*Mobile adjustments*/

    body{
        background-size: 10vw 10vw;
    }

    h1{
       font-size: 10vw;
       text-align: center;
    }

    h2{
        margin-top: 3vw;
        margin-bottom: 2vw;
        font-size: 8vw;
    }

    p{
        font-size: 5vw;
        margin-top: 2vw;
    }

    .card p{
        margin-top: 0;
    }

    a{
        font-size:5vw;
    }

    footer p{
        font-size: 3vw;
    }    

    nav ul li{
        margin-right: 5vw;
    }

    nav{
        display: flex;
        justify-content: center;
    }

    #logoHead{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 3em;
        height: auto;
    }
}